body {
  margin: 0;
}

header {
  background-color: #22232352 0%;
  padding: 32px;
  display: flex;
  justify-content: center;
}

section {
  background: linear-gradient(180deg 0%, red 0%, red 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img {
  max-width: 100px;
}

#grogu {
  max-width: 200px;
  margin-top: 16px;
}

.form-evento {
  background-color: orange;
  padding: 32px 28px;
  border-radius: 16px;
  width: 384px;
  max-width: 90%;
  margin: 64px auto;
}